body{
    margin: 2%;
   background-color: aliceblue;

    
}
header,footer{
    background-color: rgb(0, 170, 255);
    color: white;
    /*padding-top: 6px;
    padding-bottom: 6px;*/
    padding: 5%;
}
b{
    color: rgb(0, 170, 255);
}
.a{
    text-align: center;
}
p small{
    text-align: center;
}
.images{
    background-color: rgb(235, 235, 235);
    padding: 2%;
    text-align: center;
}
p{
    text-align: ;
}